/* Default setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* full color of header*/
header {
    background-color: aqua;
}

/* Giving size of header box*/
.headbox {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.searchbycolor{
    border: 2px solid wheat;
    padding: 8px;
    border-radius: 15px;
}

/* giving size of  All search boxes*/
.size{
    display: inline-block;
    width: 50px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
}

/* giving every box to color */
h3{
    position: relative;
    bottom: 6px;
    font-size: 30px;
}    

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#black {
    background-color: black;
}

/* botton styling*/
#btn1{
    width: 100px;
    height: 50px;
    background-color: orange;
    margin-top: 5px;
    border-radius: 20px;
}

/* Hover to btn1 */
#btn1:hover{
    background-color: red;
    color: white;
}
/* ============================================ */
/* for inputTaker box  */

.inputbox{
    display: flex;
    position: absolute;
    top: 90px;
}

/* input box  */
.inputtask{
    width: 320px;
    height: 250px;
    background-color: aqua;
    margin-left: 250px;
    margin-top: 40px;
}

#item{
    font-size: 30px;
}

/* button 2 style */
#btn2{
    width: 90px;
    height: 40px;
    background-color: orange;
    border-radius: 20px;
    margin: 150px 130px;
}

/* sidebar of color picker */
.choosecolor{
    width: 80px;
    height: 250px;
    background-color: black;
    margin-top: 40px;
    margin-right: 261px;
    padding: 10px;
}

/* giving size for choose color box*/

.size1{
    display: inline-block;
    width: 50px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 13px;
    cursor: pointer;
}

/* Hover to btn2 */

#btn2:hover{
    background-color: red;
    color: white;
}

#cancel{
    color: white;
    margin-left: 45px;
}

#cancel:hover{
    background-color: red;
    padding: 3px;
}


/* ======================= */

.itemcontainer{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.box{
    width: 200px;
    height: 170px;
    background-color: aqua;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}

.color{
    width: 200px;
    height: 30px;
    background-color: yellow;
}
.font{
    width: 200px;
    height: 25px;
    margin-top: 100px;
}
span{
    margin-left: 15px;
    color: white;
}
 #lock{
    margin-left: 80px;
    color: black;
 }

 .write{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
 }

 #btn3 {
    background-color: red;
}

#btn4 {
    background-color: yellow;
}

#btn5 {
    background-color: blue;
}

#btn6 {
    background-color: black;
}